<div class="newstatuswrapper">
    <div class="newstatuscontainer">
        <h1 class="newstatustext">New status</h1>

        <div class=newstatsutextandbuttoncontainer>
            <textarea class="newstatustextarea" name="status" cols="25" rows="5" ng-model="status.text" placeholder="What's up?"></textarea>
            <br>

            <a href="#/friends" class="poststatusbutton"><button class="btn-success btn-large" ng-click="addStatus()">Post status</button></a>
        </div>
    </div>
</div>
