

<div id="friendswrapper">
    <div class="friendsmainheader">
        <div class="friendssuperheader">
            <div ng-click="openFriend(currentUser)" class="userinfriendslistwrapper">
                <h4 class="userinfriendslist"><strong> <i class="icon-home"></i> {{ currentUser.name }}</strong></h4>
            </div>
            <div class="addfriendbuttoncontainer">
                <a class="addfriend" ng-click="on()" ng-hide="showButton()"><button class="btn-danger btn btn-small">Add friend</button></a>
                <a class="addfriend" ng-click="off()" ng-show="showButton()"><button class="btn-danger btn btn-small">Hide</button></a>
            </div>
        </div>
    </div>

    <div class="input-append" ng-show="showButton()">
        <input type="text" ng-model="friend.friendemail" placeholder="Friend's email ..." class="span2">

        <a href="#/friends"><button class="btn btn-success" ng-click="[addFriend(), off()]" ng-click="off()">Add Friend</button></a>
    </div>

    <div ng-repeat="friend in friends" class="friendwrapper" ng-click="openFriend(friend)">
        <div class="friendcontainer">
            <h6><i class="icon-user"></i> {{  friend.name }} </h6>
        </div>
    </div>

    <div ng-repeat="request in requests">
        <p>Request: {{request}}
            <a ng-click=acceptRequest(request)> Accept </a>

            <a ng-click=declineRequest(request)> Decline </a>
        </p>
    </div>

</div>
