<!DOCTYPE html>
<html>
<head>
    <title>Passport-Local Example</title>

    <link rel="stylesheet" href="app/vendor/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="app/css/app.css"/>
</head>
<body>
<%- body %>
</body>
</html>
