<% layout('layout') -%>

<div class="newstatuswrapper">
    <div class="newstatuscontainer">
        <h1 class="newstatustext">New user</h1>

        <div class=newstatsutextandbuttoncontainer>
            <form action="/api/register/" method="post">
                <div>
                    <input type="text" name="name" placeholder="Name">
                </div>
                <div>
                    <!--Her må navnet være/hete username selv om det egentlig er for emailen (passportjs sin skyld)-->
                    <input type="text" name="email" placeholder="Email"/><br/>
                </div>
                <div>
                    <input type="password" name="password" placeholder="Password"/>
                </div>
                <div>
                    <input type="submit" class="poststatusbutton btn-success" value="Register"/>
                </div>
            </form>
            <br>
        </div>
        <div class="inputfooter">
            <p> Already a member? <a href="/login" class="btn-info btn">Log in</a></p>
        </div>
    </div>
</div>

